{% extends 'layout.html' %}
{% load static %}

{% block title %}
  events
{% endblock %}

{% block content %}
<div class="missionev">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6">
              <div>
                <img src="{% static '/PICS/event3.jpg'%}" alt=""  width="100%">  
              </div>
          </div>
          <div class="col-md-1">

          </div>
          
          <div class="col-md-5">
            <br>
              <h5>SPEAKER SERIES</h5>
              <h2>
                 Exploring unique minds of innovation!
              </h2> 
                 <p>CEI invites thought leaders and innovators from diverse fields to share 
                  their expertise and insights with our community. Through engaging talks and discussions,
                  we delve into the lives of our speakers, uncovering ideas and perspectives that inspired 
                  and challenged them to reach the heights they have attained. Whether exploring the future of technology, sustainability, entrepreneurship,
                  or social impact, each session promises to ignite curiosity and foster meaningful dialogue among 
                  students, faculty, and guests.</p>
                
          </div>
          
      </div>
  </div>
</div>

<div class="bigpicevents">
  <div class="container">
    <img src="{% static '/PICS/event4copy.jpg'%}" alt="" width="100%" >
  </div>
</div>

<div class="missionev">
  <div class="container-fluid">
      <div class="row">
          
          <div class="col-md-5"> 
            <br>
              <h5>WORKSHOPS</h5>
              <h2>"Empowering skills, hands-on learning: <br> Discover Workshops!"
              </h2> 
                <p>Our workshops provide a unique opportunity to delve into the world of machinery and technology
                  within our makerspace. Participants gain hands-on experience with a variety of machines essential
                  for prototyping and production.</p>
               
          </div>
          <div class="col-md-1">

          </div>
         
          <div class="col-md-6"> 
            <div>
              <img src="{% static '/PICS/event1.jpg'%}" alt="" width="100%" >  
            </div>
          </div>
      </div>
  </div>
</div>

<div class="map" id="calendar">
  <div class="container-fluid">
      <div class="row">
          <div class="col-12">  
              <h4>EVENT CALENDAR</h4>
              <p>See upcoming events by joining us on the Coworks App!</p>
              <br> 
          </div>
          <div class="col-12">                 
            <iframe src="https://umescei.coworksapp.com/public-events/487" width="100%" height="850px" frameborder="0"></iframe>
          </div>
      </div>
  </div>
</div>
{% endblock %}
