{% extends 'layout.html' %}
{% load static %}

{% block title %}
  Makerspace
{% endblock %}

{% block content %}
<div class="">
     <img src="{% static '/PICS/mkrsp3copy.jpg'%}" alt="" width="100%"> 
  </div>

  <!-- Makerspace (use pagination), workshops, startup to succes speakers , social media blog, FAQ, competitions -->

  <div class="mkrspace">
    <div class="container-fluid">
      <h4>MAKERSPACE LAB</h4> <BR></BR>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="{% static '/PICS/rolanduvprinter.jpg'%}" class="card-img-top uvprint" alt="..." style="size: fit-content;">
            <div class="card-body">
              <h5 class="card-title">UV PRINTER</h5>
              <p>BRAND NAME: <br>
                Roland VersaUV LEF2-200 Printer <br>
                DESCRIPTION:<br>
                With optimized ease and efficiency, you can print directly onto accessories, giftware, ceramics, and countless other popular products. Create unique, desirable and highly-profitable custom items with the VersaUV LEF2-200 UV flatbed printer that offers brilliant color results, realistic textures and stylish embossed effects.</p>
            </div>
            <div class="card-footer">
              <p>Click <a href="https://dashboard.coworksapp.com/calendar/add-event">HERE</a> to book a session with the equipment.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static '/PICS/vevorhatpress.webp'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">HAT PRESS</h5>
              <p>BRAND NAME: <br>
                Vevor Hat Heat Press, 4-in-1 <br>
                DESCRIPTION:<br>
                The 4-in-1 hat heat press machine has four kinds of heating pads and a larger heating plate size. It displays Fahrenheit/Celsius and time on two separate screens. The machine has an ergonomic long-arm handle, full pressure adjustment knob, and automatic shutdown function. The upgraded heating circuit can obtain real-time monitoring and adjustment of the sublimation cap press.</p>
            </div>
            <div class="card-footer">
              <p>Click <a href="https://dashboard.coworksapp.com/calendar/add-event">HERE</a> to book a session with the equipment.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static '/PICS/3dmakerbot.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">3D PRINTER</h5>
              <p>BRAND NAME:
                <br> Makerbot MethodX 3D Printer <br>
                DESCRIPTION:<br>
                TWICE THE STRENGTH. TWICE THE ACCURACY. METHOD X offers 2x stronger and 2x more accurate parts with patented VECT™ 110 thermal regulation. RapidRinse supports dissolve ABS parts faster. 15 patented features allow for better environmental controls. LABS GEN 2 Experimental Extruder offers infinite 3rd party options and 6-in-1 Modular Performance Extruders prevent cross-contamination.</p>
            </div>
            <div class="card-footer">
              <p>Click <a href="https://dashboard.coworksapp.com/calendar/add-event">HERE</a> to book a session with the equipment.</p>
            </div>
          </div>
        </div>
      </div> <br> <br> <br>
      <H4>CRICUT STATION</H4> <br>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img src="{% static '/PICS/cricutmugpress.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">MUG PRESS</h5>
              <p>
                DESCRIPTION:<br>
                This Cricut Infusible Ink mug press allows users to create unique designs on compatible mugs without manual temperature or pressure settings. It features a patent-pending heat plate with zone heating for consistent results. This unique tool is perfect for gifting and is optimized for Infusible Ink products. It is suitable for adult use only and should be used in a well-ventilated area. The press is compatible with 11-16 oz straight wall and 82-86 mm diameter mugs.
              </p>
            </div>
            <div class="card-footer">
              <p>Click <a href="https://dashboard.coworksapp.com/calendar/add-event">HERE</a> to book a session with the equipment.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static '/PICS/cricuteasypress.jpg'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">EASY PRESS</h5>
              <p>DESCRIPTION:<br>
                Cricut EasyPress 2 is a no-stress heat press that offers adjustable heat up to 400℉ (205°C), making it ideal for jumbo-size projects. It combines the speed of a heat press with the convenience of an iron, ensuring fast, effortless results even after repeated washes. It features an insulated Safety Base and auto-shutoff, is lightweight, portable, and compatible with most major brands of heat-transfer vinyl and Infusible Ink™ products.</p>
            </div>
            <div class="card-footer">
              <p>Click <a href="https://dashboard.coworksapp.com/calendar/add-event">HERE</a> to book a session with the equipment.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{% static '/PICS/cricutmakerthree.png'%}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">MAKER 3</h5>
              <p>DESCRIPTION:<br>
                  This is the ultimate smart cutting machine. With lots more compatible materials and tools than our other cutting machines, you'll be amazed by what's possible. Blow minds with big banners, engraved metal, debossed leather, and so much more. Plus, bust out popular projects like custom cards, T-shirts & full-color stickers. No design experience required.</p>
            </div>
            <div class="card-footer">
              <p>Click <a href="https://dashboard.coworksapp.com/calendar/add-event">HERE</a> to book a session with the equipment.</p>
            </div>
          </div>
        </div>
      </div>
      <br> 
      <div class="pagination">
        {% comment %} <a href="#">&laquo;</a> {% endcomment %}
        <a class="active" href="/makerspace">1</a>
        <a href="/page2mk">2</a>          
        <a href="/page3mk">3</a>
        {% comment %} <a href="#">&raquo;</a> {% endcomment %}
      </div>

    </div>
  </div>

{% endblock %}


