{% extends 'layout.html' %}
{% load static %}

{% block title %}
  makerspace3
{% endblock %}

{% block content %}
<div class="mkrspace">
  <div class="container-fluid">
    <h4>MAKERSPACE LAB</h4> <BR></BR>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="{% static '/PICS/sublimsawgrass.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SUBLIMATION PRINTER</h5>
            <p>BRAND NAME: <br>
              Sawgrass Virtuoso SG500 Sublimation Printer  <br>
              DESCRIPTION:<br>
              The SG500 is a desktop printer that can print on media up to 8.5 x 14 cm, allowing for custom artwork on various items. It has been updated with features like a single roll-bar, energy efficiency, higher resolution, and WiFi connectivity. The SG500 comes with an Install Kit, which includes starter and standard cartridges, and can print up to 100 prints. The kit also includes TexPrint DT Heavy Sublimation Paper and a SubliCraft Sublimation Blank Sample Pack, making it an ideal choice for hobbyists or moonlighters.</p>
          </div>
          <div class="card-footer">
            <p>Click <a href="https://dashboard.coworksapp.com/calendar/add-event">HERE</a> to book a session with the equipment.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="{% static '/PICS/brothersews.png'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">SOWING MACHINE</h5>
            <p>BRAND NAME: <br>
              Brother SE2000 Sewing & Embroidery Machine <br>
              DESCRIPTION:<br>
              The SE2000 Combo Sewing and Embroidery machine offers a versatile tool for both beginners and skilled users. It features a wireless LAN capability, a design-savvy mobile app, and 193 built-in embroidery designs. The machine also allows easy on-screen editing and personalization with 13 built-in embroidery fonts and 10 styles of auto-size buttonholes. Its exceptional feed system, 7.4" needle to arm, and embroidery speeds of up to 650 stitches per minute make it an ideal choice for sewing and embroidery projects.</p>
          </div>
          <div class="card-footer">
            <p>Click <a href="https://dashboard.coworksapp.com/calendar/add-event">HERE</a> to book a session with the equipment.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="{% static '/PICS/3dscanner.webp'%}" class="card-img-top" alt="..." height="270">
          <div class="card-body">
            <h5 class="card-title">3D SCANNER</h5>
            <p>BRAND NAME: <br>
              Peel 3 3D Scanner <br>
              DESCRIPTION:<br>
              Peel 3 takes your 3D scanning experience to new heights. Everything about peel 3d scanners has been redesigned, rethought and revamped. For an affordable turnkey professional-grade 3D scanning solution, peel 3 packs a powerful performance punch. High-fidelity objects Digital archiving Human anatomy Orthotics and prosthetics Converts handmade objects to digital</p>
          </div>
          <div class="card-footer">
            <p>Click <a href="https://dashboard.coworksapp.com/calendar/add-event">HERE</a> to book a session with the equipment.</p>
          </div>
        </div>
      </div>
      
      
      {% comment %} <div class="col">
        <div class="card h-100">
          <img src="{% static '/PICS/MINILABEL.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">MINI LABEL PRINTER</h5>
          </div>
        </div>
      </div> {% endcomment %}
    </div> <br> <br> <br>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <img src="{% static '/PICS/eddibleprintercopy.jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">EDIBLE PRINTER</h5>
            <p>BRAND NAME: <br>
              Eddie Edible Ink Printer <br>
              DESCRIPTION:<br>
              Eddie prints full-color photographs and text directly onto the surface of cookies, lollipops or other suitable food items. For example, the edible ink printer will hold up to twelve 3.5” (90mm) cookies on a circulating tray. Each cookie is automatically drawn into the printer one at a time. The printer then prints directly onto the surface of the item, rotates, and feeds and prints the next cookie.</p>
          </div>
          <div class="card-footer">
            <p>Click <a href="https://dashboard.coworksapp.com/calendar/add-event">HERE</a> to book a session with the equipment.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static '/PICS/mill.png'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">MILLING MACHINE</h5>
            <p>BRAND NAME: <br>
              Levil LMV-F400 Milling Machine <br>
              DESCRIPTION: <br>
              The certification cart machine is a robust industrial CNC designed for 24/7 production of small parts in materials like brass, aluminum, and soft steel. It features a high-speed 17,000 RPM, 2HP liquid-cooled spindle, a large axis motion range, and an integrated coolant system. Equipped with a FANUC 0i-Mate MD control, it offers precise performance with resolutions as fine as 0.00004” (0.001mm) and rapid feeds up to 400 ipm (10,200 mm/min). The machine includes an eleven station automatic tool changer, capable of quick 8-second tool changes using standard S20T tool holders. It serves both as a reliable industrial workhorse and an effective educational tool for training on advanced CNC operations.</p>
          </div>
          <div class="card-footer">
            <p>Click <a href="https://dashboard.coworksapp.com/calendar/add-event">HERE</a> to book a session with the equipment.</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="{% static '/PICS/rolandBIG.webp'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">UV PRINTER & CUTTER</h5>
            <p>BRAND NAME: <br>
              Roland TrueVIS LG-640 Professional UV Printer/Cutter<br>
              DESCRIPTION: <br>
              The Roland TrueVIS LG-640 is a versatile printer known for its precision and efficiency. It offers vibrant prints with exceptional color accuracy using various ink configurations, including white ink. Equipped with UV technology, it handles both flexible and rigid materials, ensuring durable results. Its advanced cutting capabilities and superior print speed support efficient, unattended operation. The printer accommodates a wide range of media with ease, using eco-friendly UV inks. Backed by Roland's reliability and comprehensive support, it's ideal for professional environments seeking high-quality output and streamlined workflow.</p>
          </div>
          <div class="card-footer">
            <p>Click <a href="https://dashboard.coworksapp.com/calendar/add-event">HERE</a> to book a session with the equipment.</p>
        </div>
      </div>
      {% comment %} <div class="col">
        <div class="card h-100">
          <img src="{% static '/PICS/PRIMERAPRINTER.png'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">PRIMERA LABEL PRINTER</h5>
            <p>DESCRIPTION: <br>
              Primera LX610 Color Label Printer</p>
          </div>
        </div>
      </div> {% endcomment %}
      {% comment %} <div class="col">
        <div class="card h-100">
          <img src="{% static '/PICS/PICT (1).jpg'%}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">....</h5>
          </div>
        </div>
      </div> {% endcomment %}
    </div>
    <br> 
    <div class="pagination">
      {% comment %} <a href="#">&laquo;</a> {% endcomment %}
      <a href="/makerspace">1</a>
      <a href="/page2mk">2</a>          
      <a class="active" href="/page3mk">3</a>
      {% comment %} <a href="#">&raquo;</a> {% endcomment %}
    </div>
  </div>
</div>
{% endblock %}
